sudo: required
language: minimal
services:
  - docker

env:
  global:
    # AWS_ACCESS_KEY_ID
    - secure: "NEQXbJT/fNh4sMCV0FGsc92h+VzoTO1Fok0nvTI1b8/piakH3NlnGrYhB1eKlT6sKJN9ddA1pj36EWrPDJQ8U2+GDxy1HNUmL+1YroqkPGGTmdVaS2kZdmyLXb9Rpb3eD21sOBqEWYLgZRGYVj0QG08hDonGb9yPCW94q5iwtV6gKIlCnn9xJXZ20uf+XnyLSurNROJLV4FuXnB0f2WmU9g2Obr3YhkPLLfaUDEoGwGpU9+2GfFC8oxjv4APMnAqdQt13SCOsBYY6+MSX7XNtKGc2P2ALeBBFjDsCTFWIdOWVH9y3jyjKXfXYG3D4y35vMwUVsZpsUvHzx5/6B5MoQalqXuXiNru9yzKJ+otsiX0QOEZyqbpxAoVPKjpMuoKpYwdIckp8JyC5p4Q6ZiBT+7qfpyEJKSdfx1m8JR1iPh5TA0j6Cb9d9HY0JzEfF5+t8JbJgbuyVlq0G55tYy6UCy6XtOf37h0/BgZsydHXobd2xXcnr3A6JExZSg1JnOeVCma3Dhbt/9I+S9tiLNV0TWk5c6KUW0/R2YJxicNCsiQ7aAtxz8gstzFcrhJJKXptDB89b5CCpAyY+sTsowfjPDVnYv4wm6DZYh+Mp5vxN9oBtopJo1sNWptCX5t0PcBEAzbC5pOcOTbSa0++C6gslohvVCG0nU1MGUSeTBzWVs="
    # AWS_SECRET_ACCESS_KEY
    - secure: "rfx8zDMsooq2VTtPxMylYjp/QMiB4VLerHJDiYBZ/KrWIkxgJqJhUQ2XaXmlBkBfIMardPQmcKQhvj8CghpiDJ9XiP0aDGR4eRwPUhlTvZ2/iqp77PQS7h0TeFqy/pAW3w8cfvGt3+F0/iEmFPGaroBuJ/uptzEkK5v0/nMEHJmx4FZLGV0FbBN6qD2IQXNkt+l/bZL1kApSQkJwqJfyWvN6jQq+5jOp3oALvVgKJredzg8tRw2bNqxJVtqk2ZkogVV0jbq/3XHpNhAC5IFU+urxxFvTBM+GC2zlatr1ZUKTPSeOlmHhJIsv0Uys7StIG3MKOWT4VGeJR9La2gdpXQ0b3+49GFpEcjO2h6vlZEekBIfoK7ES1rgyhWS0p0FZZ60qKSGgi9zmasjs06WwnYlO9K0sTwwuDtu0UeRqGbdzDM2iFGih+KrUm3q3GPWEO/PnOd/7d1LGuYM4gCLntfXKERGGv7tNXxFXPyViQ6tlbIJQccpA/lDFP51OtK/asNy5cM6QXmYXyJYQAjv2U/Q70y0fFkaZaj4xa3YmrJgkp/ZfpJFR0yrOKWZ7GMoGpgXe4Vcdy3iOARfr24GDoZLUaRtmBMLwoILoCe3c8vQjXMf3Lb2ZUnl7GoxgPguHUfYQ2wC87Kpx3GOxESwfzcQespAxIn9wRAiYjJ/l8lw="
    # DL_PATH_TOKEN
    - secure: "QFF/6LYYko2BUD+aUyDAP/crT8NNZEYGxWWj2HHlNlPLSeoVvrTxcDgNj65Kgt8wyUxsZQGteaJqvnIZ2B/30VLlu7edCpIhRbHB87C8eNFlEBliXu3LsfP2LVW5zXnI6E7PbK0aO/Z2txy7elTj6fZ02ljK0JxaLKJtPX+iQr/q70KmulGS4cZ8sWXc/MnMpuqiUpVxrT2ZAR59vN3KoI7AtcY/kSZP0u4khIZoOeWer8Dsj5swrWPfN/WYXDXzcfbgvMEfp+lHTi9z8EtL6Qx4Di2i6PvGIgKpLJOw1hW6oQNh48+EHtDT5cOAJjVmuw8AigBsA2a3J6HLaecfY8tx9Nx8vf9o3/DLMK/NazqcFCXIq9+fwv3fiBe0zmVUKGAft8bi8+zAAZBGKxmlc+OhfZTVXhkSeHl18IES64wqPkZ2LtKPO+ECaptIxpiIcwhSeKT/HV5KJ/Q17arEKCaarp9E5uMfAqtoNTE9q9LKx7+KCYfAsikUi+IV+lAco2Kvunz/9s65Y83/1HWJJyE1rcbvFEf5kvXA44addEG71sP7lr1NqPQpsnyYXyWS3FKcVM2PXBD3otaxjDQKqpiYFeIXCvzpuVz03EbaFTuey5S9GlXHmBrcbtLkwJoEcg4/4kRIKKgyeNjWmkiAMltYzkrRiSmp2+aG4IpAMh0="

install:
  - git clone https://github.com/Opetushallitus/ci-tools.git
  - source ci-tools/common/setup-tools.sh
  - export ARTIFACT_NAME="baseimage-fatjar"

script:
  - export DOCKER_TARGET="${ECR_REPO}/${ARTIFACT_NAME}:ci-${TRAVIS_BUILD_NUMBER}"
  - docker build -t ${DOCKER_TARGET} --build-arg DL_PATH_TOKEN="${DL_PATH_TOKEN}" .
  - docker images

deploy:
  provider: script
  script: ./ci-tools/build/upload-image.sh $ARTIFACT_NAME $TRAVIS_BRANCH
  on:
    all_branches: true
